* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input[id='datetime-picker'] {
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
}

button[data-start] {
  display: flex;
  justify-content: center;

  padding: 10px 25px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  border-radius: 4px;

  cursor: pointer;
}

button[data-stop] {
  display: flex;
  justify-content: center;

  padding: 10px 25px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  border-radius: 4px;

  cursor: pointer;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.value {
  font-size: 40px;
  padding: 20px;

  border-radius: 4px;

  background-color: black;
  color: white;
}
.label {
  width: 85px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
